* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background: #FFFFFE;
}

.container {
	margin: 20px;
}

.block_container {
	margin-top: 20px;
}

.inputs_container {
	margin-top: 10px;
}

.input {
	margin-top: 5px;
}

.calendar {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

table.month {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  margin: 3px;
}

table.month th, td {
  border: 1px solid black;
  padding: 3px;			
}

/* #FF4900 green*/
.first-shift {
	background: #FF4900;
}

/* #E40045  forestgreen*/
.second-shift {
	background: #E40045;
}

/* #00AF64 limegreen*/
.after-second-shift {
	background: #00AF64;
}

/* #67E300 lawngreen*/
.weekend {
	background: #67E300;
}

.color_map {
	margin-top: 10px;
	width: 250px;
}

.color_map_item {
	padding: 3px;
}
.color_map_item:first-child {
	margin-top: 5px;
}